# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Streamlit
.streamlit/

# Environment
.env
venv/
env/
*.sqlite3

# Snapshots or data
gazette_snapshots/
*.html

# OS-specific
.DS_Store
Thumbs.db
